:host {
  background: #eee;
  width: 240px;
}

.app-sidenav {
  height: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nav-item {
  font-size: 1.2rem;
  margin-bottom: 0.7rem;

  a {
    text-decoration: none;
    color: black;

    &.active {
      font-weight: 700;
    }
  }

  &.disabled {
    a {
      color: #4a4747;
      pointer-events: none;
    }
  }
}
